@model DAL.Modelo.EvaTchNotasEvaluacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EvaTchNotasEvaluacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdUuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodAlumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaEvaluacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaEvaluacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEvaluacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEvaluacionNavigation.CodEvaluacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNotaEvaluacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
