@model IEnumerable<DAL.Modelo.EvaTchNotasEvaluacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdDch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaEvaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEvaluacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>    
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaEvaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEvaluacionNavigation.CodEvaluacion)
            </td>
        </tr>
}
    </tbody>
</table>
